[Unit]
Description=Kalinka Bot

[Service]
Type=simple
User=root
ExecStart=/alien/.env/bin/python /alien/kalinka/main.py /alien/kalinka/config.json
Environment=PYTHONUNBUFFERED=1
Restart=always

[Install]
WantedBy=multi-user.target
