[Unit]
Description=Bchat Bot

[Service]
Type=simple
User=root
ExecStart=/alien/.env/bin/python /alien/bchat/main.py /alien/bchat/config.json
Environment=PYTHONUNBUFFERED=1
Restart=always

[Install]
WantedBy=multi-user.target
