[Unit]
Description=Athena Bot

[Service]
Type=simple
User=root
ExecStart=/alien/.env/bin/python /alien/athena/main.py /alien/athena/config.json
Environment=PYTHONUNBUFFERED=1
Restart=always

[Install]
WantedBy=multi-user.target
