@use '@00-team/utils' as *;

:root {
    --primary-color: #121212;
    --accent-color: #1771f1;
    --text-color: #eee;
    --link-color: #809fff;
    --background-color: #040404;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    @include box(100%, 100vh);

    .root {
        @include box(100%);
    }

    .btn {
        width: max-content;
        font-size: 20px;
        padding: 0.3rem 0.7rem;
        border-radius: 7px;
        border: 0;
        cursor: pointer;
        background-color: var(--accent-color);
        color: var(--text-color);

        &:focus {
            outline: 0;
        }
    }
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: var(--primary-color);
    width: 200px;
    padding: 20px;
    ul {
        list-style-type: none;
        li {
            margin-bottom: 10px;
            cursor: pointer;
            &:hover {
                color: var(--link-color);
            }
        }
    }
}

.main {
    flex: 1;
    padding: 20px;
    h1 {
        font-size: 2rem;
        margin-bottom: 20px;
    }
}
